# Pandas

Sometimes, we want to store 2 dimensional data and give a name to each column. Pandas allows us to do that and keep some of the `numpy` funcionality

In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
X = np.random.normal(size=(100, 5))

In [5]:
X_pd = pd.DataFrame(X)
X_pd.head()

          0         1         2         3         4
0 -0.904626  1.701818  1.205127  0.344289  2.346455
1 -0.075415  2.200022 -0.209263 -1.273240 -0.215885
2  0.251388 -0.345708 -0.733166 -1.623335  0.633162
3 -0.070139 -0.766307 -0.164196  1.753203  0.800464
4  1.321452 -1.276924  0.112640 -1.534285 -0.474480

Now, we have names for each of the rows and columns.

But it is more interesting to give meaninful names to the columns.

We can create `Series` (Pandas' vectors) and make them be columns

In [6]:
x_s = pd.Series([1, 2, 3, 4])
y_s = pd.Series([-1, -2, -3, -4])

In [7]:
x_s

0    1
1    2
2    3
3    4
dtype: int64

In [8]:
y_s

0   -1
1   -2
2   -3
3   -4
dtype: int64

In [9]:
XY = pd.DataFrame({'x': x_s, 'y': y_s})
XY

   x  y
0  1 -1
1  2 -2
2  3 -3
3  4 -4

Now we can access columns by name

In [10]:
XY['x']

0    1
1    2
2    3
3    4
Name: x, dtype: int64

In [11]:
XY[['y', 'x']]

   y  x
0 -1  1
1 -2  2
2 -3  3
3 -4  4

In [12]:
2*XY

   x  y
0  2 -2
1  4 -4
2  6 -6
3  8 -8

We can also transpose:

In [13]:
XY.T

   0  1  2  3
x  1  2  3  4
y -1 -2 -3 -4

Pandas' DataFrames make it easy to load data from multiple data types.  The following cell prints help for a pandas data frame:

In [14]:
?pd.DataFrame

Pandas can hold multiple types of objects

In [15]:
df2 = pd.DataFrame({ 'A' : 1.,
'B' : pd.Timestamp('20130102'),
'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
'D' : np.array([3] * 4,dtype='int32'),
'E' : pd.Categorical(["test","train","test","train"]),
'F' : 'foo' })

In [16]:
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [17]:
# each column has its own type
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [18]:
df2.head()

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [19]:
df2.tail()

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [20]:
# Pandas data frames have 3 main items: index, columns, and data values
df2.index

Int64Index([0, 1, 2, 3], dtype='int64')

In [21]:
df2.columns

Index(['A', 'B', 'C', 'D', 'E', 'F'], dtype='object')

In [22]:
df2.values

array([[1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo']],
      dtype=object)

In [23]:
# you can do many operations that are available in numpy
df2.T

                     0  ...                    3
A                    1  ...                    1
B  2013-01-02 00:00:00  ...  2013-01-02 00:00:00
C                    1  ...                    1
D                    3  ...                    3
E                 test  ...                train
F                  foo  ...                  foo

[6 rows x 4 columns]

In [24]:
# we will create another dataframe
index = pd.date_range('1/1/2000', periods=8)
df = pd.DataFrame(np.random.randn(8, 3), index=index,
  columns=['A', 'B', 'C'])

In [25]:
# now the index is the date
df

                   A         B         C
2000-01-01 -0.981512 -0.963612 -0.233517
2000-01-02 -0.161566 -0.381427  0.667877
2000-01-03 -0.956079 -2.134213  0.285866
2000-01-04  0.429146  0.610101  0.955057
2000-01-05  1.296170  0.979198  0.705801
2000-01-06 -1.255413  0.242037  0.579194
2000-01-07  0.582217 -0.257322  1.420966
2000-01-08  0.186113 -0.178405 -0.646308

In [26]:
# you can access the columns
df['A']

2000-01-01   -0.981512
2000-01-02   -0.161566
2000-01-03   -0.956079
2000-01-04    0.429146
2000-01-05    1.296170
2000-01-06   -1.255413
2000-01-07    0.582217
2000-01-08    0.186113
Freq: D, Name: A, dtype: float64

In [27]:
# you can access the rows in multiple ways: .loc and .iloc are the most common
# .loc accesses the label
# .iloc access by index
df.loc['2000-01-02']

A   -0.161566
B   -0.381427
C    0.667877
Name: 2000-01-02 00:00:00, dtype: float64

In [28]:
df.iloc[0]

A   -0.981512
B   -0.963612
C   -0.233517
Name: 2000-01-01 00:00:00, dtype: float64

In [29]:
# this returns a pandas dataframe
df.loc[:, ['A', 'B']]

                   A         B
2000-01-01 -0.981512 -0.963612
2000-01-02 -0.161566 -0.381427
2000-01-03 -0.956079 -2.134213
2000-01-04  0.429146  0.610101
2000-01-05  1.296170  0.979198
2000-01-06 -1.255413  0.242037
2000-01-07  0.582217 -0.257322
2000-01-08  0.186113 -0.178405

In [30]:
# similarly with position
df.iloc[5:6, :]

                   A         B         C
2000-01-06 -1.255413  0.242037  0.579194

In [31]:
# selection by boolean indexing
df[df.A>0]

                   A         B         C
2000-01-04  0.429146  0.610101  0.955057
2000-01-05  1.296170  0.979198  0.705801
2000-01-07  0.582217 -0.257322  1.420966
2000-01-08  0.186113 -0.178405 -0.646308

In [32]:
# it will put nan in the cells that don't match
df[df>0]

                   A         B         C
2000-01-01       NaN       NaN       NaN
2000-01-02       NaN       NaN  0.667877
2000-01-03       NaN       NaN  0.285866
2000-01-04  0.429146  0.610101  0.955057
2000-01-05  1.296170  0.979198  0.705801
2000-01-06       NaN  0.242037  0.579194
2000-01-07  0.582217       NaN  1.420966
2000-01-08  0.186113       NaN       NaN

In [33]:
# you can deal with missing data
df[df>0].dropna()

                   A         B         C
2000-01-04  0.429146  0.610101  0.955057
2000-01-05  1.296170  0.979198  0.705801

In [34]:
# replace nas by some value
df[df>0].fillna(value=0)

                   A         B         C
2000-01-01  0.000000  0.000000  0.000000
2000-01-02  0.000000  0.000000  0.667877
2000-01-03  0.000000  0.000000  0.285866
2000-01-04  0.429146  0.610101  0.955057
2000-01-05  1.296170  0.979198  0.705801
2000-01-06  0.000000  0.242037  0.579194
2000-01-07  0.582217  0.000000  1.420966
2000-01-08  0.186113  0.000000  0.000000

In [35]:
# you can do operations
df['A'].mean()

-0.10761558128441573

In [36]:
df.std()

A    0.896406
B    0.969085
C    0.656963
dtype: float64

## Apply functions

you can apply functions to individual columns

In [37]:
# the function should expect to receive a series
df.apply(lambda x: x - x.mean())

                   A         B         C
2000-01-01 -0.873897 -0.703156 -0.700384
2000-01-02 -0.053950 -0.120972  0.201010
2000-01-03 -0.848464 -1.873758 -0.181001
2000-01-04  0.536762  0.870556  0.488190
2000-01-05  1.403785  1.239653  0.238934
2000-01-06 -1.147797  0.502492  0.112327
2000-01-07  0.689833  0.003133  0.954099
2000-01-08  0.293729  0.082051 -1.113175

In [38]:
# you apply a function to each cell by using applymap
df.applymap(lambda x: 0 if x > 0 else 1)

            A  B  C
2000-01-01  1  1  1
2000-01-02  1  1  0
2000-01-03  1  1  0
2000-01-04  0  0  0
2000-01-05  0  0  0
2000-01-06  1  0  0
2000-01-07  0  1  0
2000-01-08  0  1  1

## Concatenating

This section uses code from the Python Data Science Handbook [Pandas Chapter](https://github.com/jakevdp/PythonDataScienceHandbook/blob/master/notebooks/03.06-Concat-And-Append.ipynb)

For convenience, we'll define this function which creates a DataFrame of a particular form that will be useful below:

In [39]:
def make_df(cols, ind):
    """Quickly make a DataFrame"""
    data = {c: [str(c) + str(i) for i in ind]
            for c in cols}
    return pd.DataFrame(data, ind)

# example DataFrame
make_df('ABC', range(3))

    A   B   C
0  A0  B0  C0
1  A1  B1  C1
2  A2  B2  C2

In addition, we'll create a quick class that allows us to display multiple DataFrames side by side. The code makes use of the special _repr_html_ method, which IPython uses to implement its rich object display:

In [40]:

class display(object):
    """Display HTML representation of multiple objects"""
    template = """<div style="float: left; padding: 10px;">
    <p style='font-family:"Courier New", Courier, monospace'>{0}</p>{1}
    </div>"""
    def __init__(self, *args):
        self.args = args
        
    def _repr_html_(self):
        return '\n'.join(self.template.format(a, eval(a)._repr_html_())
                         for a in self.args)
    
    def __repr__(self):
        return '\n\n'.join(a + '\n' + repr(eval(a))
                           for a in self.args)

Simple Series Concat

In [41]:
ser1 = pd.Series(['A', 'B', 'C'], index=[1, 2, 3])
ser2 = pd.Series(['D', 'E', 'F'], index=[4, 5, 6])
pd.concat([ser1, ser2])

1    A
2    B
3    C
4    D
5    E
6    F
dtype: object

It also works to concatenate higher-dimensional objects, such as DataFrames:

In [42]:
df1 = make_df('AB', [1, 2])
df2 = make_df('AB', [3, 4])
display('df1', 'df2', 'pd.concat([df1, df2])')

df1
    A   B
1  A1  B1
2  A2  B2

df2
    A   B
3  A3  B3
4  A4  B4

pd.concat([df1, df2])
    A   B
1  A1  B1
2  A2  B2
3  A3  B3
4  A4  B4

By default, the concatenation takes place row-wise within the DataFrame (i.e., axis=0). Like np.concatenate, pd.concat allows specification of an axis along which concatenation will take place. Consider the following example:

In [43]:
df3 = make_df('AB', [0, 1])
df4 = make_df('CD', [0, 1])
display('df3', 'df4', "pd.concat([df3, df4], axis=1)")

df3
    A   B
0  A0  B0
1  A1  B1

df4
    C   D
0  C0  D0
1  C1  D1

pd.concat([df3, df4], axis=1)
    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1

### Concatenation with joins

In the simple examples we just looked at, we were mainly concatenating ``DataFrames`` with shared column names.
In practice, data from different sources might have different sets of column names, and ``pd.concat`` offers several options in this case.
Consider the concatenation of the following two ``DataFrames``, which have some (but not all!) columns in common:

In [44]:
df5 = make_df('ABC', [1, 2])
df6 = make_df('BCD', [3, 4])
display('df5', 'df6', 'pd.concat([df5, df6], sort=False)')

df5
    A   B   C
1  A1  B1  C1
2  A2  B2  C2

df6
    B   C   D
3  B3  C3  D3
4  B4  C4  D4

pd.concat([df5, df6], sort=False)
     A   B   C    D
1   A1  B1  C1  NaN
2   A2  B2  C2  NaN
3  NaN  B3  C3   D3
4  NaN  B4  C4   D4

By default, the entries for which no data is available are filled with NA values.
To change this, we can specify one of several options for the ``join`` and ``join_axes`` parameters of the concatenate function.
By default, the join is a union of the input columns (``join='outer'``), but we can change this to an intersection of the columns using ``join='inner'``:

In [45]:
display('df5', 'df6',
        "pd.concat([df5, df6], join='inner')")

df5
    A   B   C
1  A1  B1  C1
2  A2  B2  C2

df6
    B   C   D
3  B3  C3  D3
4  B4  C4  D4

pd.concat([df5, df6], join='inner')
    B   C
1  B1  C1
2  B2  C2
3  B3  C3
4  B4  C4

### The ``append()`` method

Because direct array concatenation is so common, ``Series`` and ``DataFrame`` objects have an ``append`` method that can accomplish the same thing in fewer keystrokes.
For example, rather than calling ``pd.concat([df1, df2])``, you can simply call ``df1.append(df2)``:

In [46]:
display('df1', 'df2', 'df1.append(df2)')

df1
    A   B
1  A1  B1
2  A2  B2

df2
    A   B
3  A3  B3
4  A4  B4

df1.append(df2)
    A   B
1  A1  B1
2  A2  B2
3  A3  B3
4  A4  B4

# Combining Datasets: Merge and Join

This section uses code from the Python Data Science Handbook [Pandas Chapter](https://github.com/jakevdp/PythonDataScienceHandbook/blob/master/notebooks/03.06-Concat-And-Append.ipynb)

One essential feature offered by Pandas is its high-performance, in-memory join and merge operations.
If you have ever worked with databases, you should be familiar with this type of data interaction.
The main interface for this is the ``pd.merge`` function, and we'll see a few examples of how this can work in practice.

For convenience, we will start by redefining the ``display()`` functionality from the previous section:

In [47]:
import pandas as pd
import numpy as np

class display(object):
    """Display HTML representation of multiple objects"""
    template = """<div style="float: left; padding: 10px;">
    <p style='font-family:"Courier New", Courier, monospace'>{0}</p>{1}
    </div>"""
    def __init__(self, *args):
        self.args = args
        
    def _repr_html_(self):
        return '\n'.join(self.template.format(a, eval(a)._repr_html_())
                         for a in self.args)
    
    def __repr__(self):
        return '\n\n'.join(a + '\n' + repr(eval(a))
                           for a in self.args)

## Categories of Joins

The ``pd.merge()`` function implements a number of types of joins: the *one-to-one*, *many-to-one*, and *many-to-many* joins.
All three types of joins are accessed via an identical call to the ``pd.merge()`` interface; the type of join performed depends on the form of the input data.
Here we will show simple examples of the three types of merges.

### One-to-one joins

Perhaps the simplest type of merge expresion is the one-to-one join, which is in many ways very similar to the column-wise concatenation.
As a concrete example, consider the following two ``DataFrames`` which contain information on several employees in a company:

In [48]:
df1 = pd.DataFrame({'employee': ['Bob', 'Jake', 'Lisa', 'Sue'],
                    'group': ['Accounting', 'Engineering', 'Engineering', 'HR']})
df2 = pd.DataFrame({'employee': ['Lisa', 'Bob', 'Jake', 'Sue'],
                    'hire_date': [2004, 2008, 2012, 2014]})
display('df1', 'df2')

df1
  employee        group
0      Bob   Accounting
1     Jake  Engineering
2     Lisa  Engineering
3      Sue           HR

df2
  employee  hire_date
0     Lisa       2004
1      Bob       2008
2     Jake       2012
3      Sue       2014

To combine this information into a single ``DataFrame``, we can use the ``pd.merge()`` function:

In [49]:
df3 = pd.merge(df1, df2)
df3

  employee        group  hire_date
0      Bob   Accounting       2008
1     Jake  Engineering       2012
2     Lisa  Engineering       2004
3      Sue           HR       2014

The ``pd.merge()`` function recognizes that each ``DataFrame`` has an "employee" column, and automatically joins using this column as a key.
The result of the merge is a new ``DataFrame`` that combines the information from the two inputs.
Notice that the order of entries in each column is not necessarily maintained: in this case, the order of the "employee" column differs between ``df1`` and ``df2``, and the ``pd.merge()`` function correctly accounts for this.
Additionally, keep in mind that the merge in general discards the index, except in the special case of merges by index (see the ``left_index`` and ``right_index`` keywords, discussed momentarily).

### Many-to-one joins

Many-to-one joins are joins in which one of the two key columns contains duplicate entries.
For the many-to-one case, the resulting ``DataFrame`` will preserve those duplicate entries as appropriate.
Consider the following example of a many-to-one join:

In [50]:
df4 = pd.DataFrame({'group': ['Accounting', 'Engineering', 'HR'],
                    'supervisor': ['Carly', 'Guido', 'Steve']})
display('df3', 'df4', 'pd.merge(df3, df4)')

df3
  employee        group  hire_date
0      Bob   Accounting       2008
1     Jake  Engineering       2012
2     Lisa  Engineering       2004
3      Sue           HR       2014

df4
         group supervisor
0   Accounting      Carly
1  Engineering      Guido
2           HR      Steve

pd.merge(df3, df4)
  employee        group  hire_date supervisor
0      Bob   Accounting       2008      Carly
1     Jake  Engineering       2012      Guido
2     Lisa  Engineering       2004      Guido
3      Sue           HR       2014      Steve

The resulting ``DataFrame`` has an aditional column with the "supervisor" information, where the information is repeated in one or more locations as required by the inputs.

### Many-to-many joins

Many-to-many joins are a bit confusing conceptually, but are nevertheless well defined.
If the key column in both the left and right array contains duplicates, then the result is a many-to-many merge.
This will be perhaps most clear with a concrete example.
Consider the following, where we have a ``DataFrame`` showing one or more skills associated with a particular group.
By performing a many-to-many join, we can recover the skills associated with any individual person:

In [51]:
df5 = pd.DataFrame({'group': ['Accounting', 'Accounting',
                              'Engineering', 'Engineering', 'HR', 'HR'],
                    'skills': ['math', 'spreadsheets', 'coding', 'linux',
                               'spreadsheets', 'organization']})
display('df1', 'df5', "pd.merge(df1, df5)")

df1
  employee        group
0      Bob   Accounting
1     Jake  Engineering
2     Lisa  Engineering
3      Sue           HR

df5
         group        skills
0   Accounting          math
1   Accounting  spreadsheets
2  Engineering        coding
3  Engineering         linux
4           HR  spreadsheets
5           HR  organization

pd.merge(df1, df5)
  employee        group        skills
0      Bob   Accounting          math
1      Bob   Accounting  spreadsheets
2     Jake  Engineering        coding
3     Jake  Engineering         linux
4     Lisa  Engineering        coding
5     Lisa  Engineering         linux
6      Sue           HR  spreadsheets
7      Sue           HR  organization

## Grouping

It consists of

- Splitting the data into groups based on some criteria
- Applying a function to each group independently
- Combining the results into a data structure

In [52]:
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
'foo', 'bar', 'foo', 'foo'],
'B' : ['one', 'one', 'two', 'three',
'two', 'two', 'one', 'three'],
'C' : np.random.randn(8),
'D' : np.random.randn(8)})

In [53]:
df

     A      B         C         D
0  foo    one  1.645326  2.348918
1  bar    one -0.551451  0.883653
2  foo    two -0.002823 -1.423746
3  bar  three  0.616634  0.567586
4  foo    two  0.705046 -0.091332
5  bar    two  0.707750 -0.143041
6  foo    one  2.586004  0.343064
7  foo  three  0.072882 -1.805475

A quick way to compute statistics on a group is the describe() method.

In [54]:
df.groupby('A').describe()

        C                                ...         D
    count      mean       std       min  ...       25%       50%       75%       max
A                                        ...
bar   3.0  0.257644  0.702176 -0.551451  ...  0.212273  0.567586  0.725620  0.883653
foo   5.0  1.001287  1.104994 -0.002823  ... -1.423746 -0.091332  0.343064  2.348918

[2 rows x 16 columns]

In [55]:
df.groupby('A').sum()

            C         D
A
bar  0.772933  1.308198
foo  5.006435 -0.628571

In [56]:
df.groupby(['A', 'B']).sum()

                  C         D
A   B
bar one   -0.551451  0.883653
    three  0.616634  0.567586
    two    0.707750 -0.143041
foo one    4.231330  2.691982
    three  0.072882 -1.805475
    two    0.702222 -1.515078

### complex grouping
sometimes you want to apply compex functions to each group. You can do so by creating a function that receives each of the groups and returns a dataframe

In [61]:
df.groupby('A').apply(print)

     A      B         C         D
1  bar    one -0.551451  0.883653
3  bar  three  0.616634  0.567586
5  bar    two  0.707750 -0.143041
     A      B         C         D
0  foo    one  1.645326  2.348918
2  foo    two -0.002823 -1.423746
4  foo    two  0.705046 -0.091332
6  foo    one  2.586004  0.343064
7  foo  three  0.072882 -1.805475

Empty DataFrame
Columns: []
Index: []

In [137]:
group = df.groupby('A')

In [138]:
group

In [139]:
def top1(g):
  # simply return row 0 for each group
  return g.iloc[[0]]

In [140]:
group.apply(top1)

         A    B         C         D
A
bar 1  bar  one -0.698154  0.230055
foo 0  foo  one  0.783522  1.241074